html, body { width:100%; height:100%; margin:0; padding:0; background:url(../img/bg.png) repeat-x left top; font-size:12px; font-family:Verdana; font-style:normal;}
body { overflow:scroll; }


#search-metadata-result-wrapper { width:95%; margin: 10px auto 0px auto; }

#search-metadata-result-wrapper .result { width:100%; border:1px solid #6BA6D6; background-color:White; margin-top:10px; }
#search-metadata-result-wrapper .result .path { background-color:#6BA6D6; width:100%; }
#search-metadata-result-wrapper .result .path span { margin-left:5px; font-weight:bold; color:White; height:25px; line-height:25px; vertical-align:middle; }
#search-metadata-result-wrapper .result .html { font-family:Fixedsys, Verdana, Tahoma, Arial; font-size:14px; max-height:100px; overflow:auto; }