<?xml version="1.0" encoding="utf-8"?>
<!--
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
    <appSettings>
        <add key="Svn.Username" value="elvis" />
        <add key="Svn.Password" value="svnrepo" />
        <add key="WorkingCopy.Path" value="G:\cms.style" />

        <add key="Git.ExecutePath" value="C:\Program Files (x86)\Git\bin\git" />
        <add key="Git.Repository" value="git@git.everymatrix.com:gmfe/cms-style.git" />
        <add key="Git.Branch" value="master" />
        <add key="Git.Username" value="hb@everymatrix.com" />
        <add key="Git.Password" value="121013_hb" />
        <add key="Git.WorkingCopy.Path" value="" />

    </appSettings>
    <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
    <connectionStrings>
        <add name="Default" connectionString="Data Source=109.205.92.135,14331;Initial Catalog=cm;User ID=cmsapp;Password=abc123;Min Pool Size=1;Max Pool Size=500;" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
        <customErrors mode="Off" />
        <compilation debug="true" targetFramework="4.5" />
        <httpRuntime />
        <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
    </system.web>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Abstractions" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Routing" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>