.country-flags .ad { background:url("/images/flags/flags_sprite.png") no-repeat -2px -2px; }
.country-flags .ae { background:url("/images/flags/flags_sprite.png") no-repeat -22px -2px; }
.country-flags .af { background:url("/images/flags/flags_sprite.png") no-repeat -42px -2px; }
.country-flags .ag { background:url("/images/flags/flags_sprite.png") no-repeat -62px -2px; }
.country-flags .ai { background:url("/images/flags/flags_sprite.png") no-repeat -82px -2px; }
.country-flags .al { background:url("/images/flags/flags_sprite.png") no-repeat -102px -2px; }
.country-flags .am { background:url("/images/flags/flags_sprite.png") no-repeat -122px -2px; }
.country-flags .an { background:url("/images/flags/flags_sprite.png") no-repeat -142px -2px; }
.country-flags .ao { background:url("/images/flags/flags_sprite.png") no-repeat -162px -2px; }
.country-flags .ar { background:url("/images/flags/flags_sprite.png") no-repeat -182px -2px; }
.country-flags .as { background:url("/images/flags/flags_sprite.png") no-repeat -2px -17px; }
.country-flags .at { background:url("/images/flags/flags_sprite.png") no-repeat -22px -17px; }
.country-flags .au { background:url("/images/flags/flags_sprite.png") no-repeat -42px -17px; }
.country-flags .aw { background:url("/images/flags/flags_sprite.png") no-repeat -62px -17px; }
.country-flags .ax { background:url("/images/flags/flags_sprite.png") no-repeat -82px -17px; }
.country-flags .az { background:url("/images/flags/flags_sprite.png") no-repeat -102px -17px; }
.country-flags .ba { background:url("/images/flags/flags_sprite.png") no-repeat -122px -17px; }
.country-flags .bb { background:url("/images/flags/flags_sprite.png") no-repeat -142px -17px; }
.country-flags .bd { background:url("/images/flags/flags_sprite.png") no-repeat -162px -17px; }
.country-flags .be { background:url("/images/flags/flags_sprite.png") no-repeat -182px -17px; }
.country-flags .bf { background:url("/images/flags/flags_sprite.png") no-repeat -2px -32px; }
.country-flags .bg { background:url("/images/flags/flags_sprite.png") no-repeat -22px -32px; }
.country-flags .bh { background:url("/images/flags/flags_sprite.png") no-repeat -42px -32px; }
.country-flags .bi { background:url("/images/flags/flags_sprite.png") no-repeat -62px -32px; }
.country-flags .bj { background:url("/images/flags/flags_sprite.png") no-repeat -82px -32px; }
.country-flags .bm { background:url("/images/flags/flags_sprite.png") no-repeat -102px -32px; }
.country-flags .bn { background:url("/images/flags/flags_sprite.png") no-repeat -122px -32px; }
.country-flags .bo { background:url("/images/flags/flags_sprite.png") no-repeat -142px -32px; }
.country-flags .br { background:url("/images/flags/flags_sprite.png") no-repeat -162px -32px; }
.country-flags .bs { background:url("/images/flags/flags_sprite.png") no-repeat -182px -32px; }
.country-flags .bt { background:url("/images/flags/flags_sprite.png") no-repeat -2px -47px; }
.country-flags .bv { background:url("/images/flags/flags_sprite.png") no-repeat -22px -47px; }
.country-flags .bw { background:url("/images/flags/flags_sprite.png") no-repeat -42px -47px; }
.country-flags .by { background:url("/images/flags/flags_sprite.png") no-repeat -62px -47px; }
.country-flags .bz { background:url("/images/flags/flags_sprite.png") no-repeat -82px -47px; }
.country-flags .ca { background:url("/images/flags/flags_sprite.png") no-repeat -102px -47px; }
.country-flags .catalonia { background:url("/images/flags/flags_sprite.png") no-repeat -122px -47px; }
.country-flags .cc { background:url("/images/flags/flags_sprite.png") no-repeat -142px -47px; }
.country-flags .cd { background:url("/images/flags/flags_sprite.png") no-repeat -162px -47px; }
.country-flags .cf { background:url("/images/flags/flags_sprite.png") no-repeat -182px -47px; }
.country-flags .cg { background:url("/images/flags/flags_sprite.png") no-repeat -2px -62px; }
.country-flags .ch { background:url("/images/flags/flags_sprite.png") no-repeat -22px -62px; }
.country-flags .ci { background:url("/images/flags/flags_sprite.png") no-repeat -42px -62px; }
.country-flags .ck { background:url("/images/flags/flags_sprite.png") no-repeat -62px -62px; }
.country-flags .cl { background:url("/images/flags/flags_sprite.png") no-repeat -82px -62px; }
.country-flags .cm { background:url("/images/flags/flags_sprite.png") no-repeat -102px -62px; }
.country-flags .cn { background:url("/images/flags/flags_sprite.png") no-repeat -122px -62px; }
.country-flags .co { background:url("/images/flags/flags_sprite.png") no-repeat -142px -62px; }
.country-flags .cr { background:url("/images/flags/flags_sprite.png") no-repeat -162px -62px; }
.country-flags .cs { background:url("/images/flags/flags_sprite.png") no-repeat -182px -62px; }
.country-flags .cu { background:url("/images/flags/flags_sprite.png") no-repeat -2px -77px; }
.country-flags .cv { background:url("/images/flags/flags_sprite.png") no-repeat -22px -77px; }
.country-flags .cx { background:url("/images/flags/flags_sprite.png") no-repeat -42px -77px; }
.country-flags .cy { background:url("/images/flags/flags_sprite.png") no-repeat -62px -77px; }
.country-flags .cz { background:url("/images/flags/flags_sprite.png") no-repeat -82px -77px; }
.country-flags .de { background:url("/images/flags/flags_sprite.png") no-repeat -102px -77px; }
.country-flags .dj { background:url("/images/flags/flags_sprite.png") no-repeat -122px -77px; }
.country-flags .dk { background:url("/images/flags/flags_sprite.png") no-repeat -142px -77px; }
.country-flags .dm { background:url("/images/flags/flags_sprite.png") no-repeat -162px -77px; }
.country-flags .do { background:url("/images/flags/flags_sprite.png") no-repeat -182px -77px; }
.country-flags .dz { background:url("/images/flags/flags_sprite.png") no-repeat -2px -92px; }
.country-flags .ec { background:url("/images/flags/flags_sprite.png") no-repeat -22px -92px; }
.country-flags .ee { background:url("/images/flags/flags_sprite.png") no-repeat -42px -92px; }
.country-flags .eg { background:url("/images/flags/flags_sprite.png") no-repeat -62px -92px; }
.country-flags .eh { background:url("/images/flags/flags_sprite.png") no-repeat -82px -92px; }
.country-flags .england { background:url("/images/flags/flags_sprite.png") no-repeat -102px -92px; }
.country-flags .er { background:url("/images/flags/flags_sprite.png") no-repeat -122px -92px; }
.country-flags .es { background:url("/images/flags/flags_sprite.png") no-repeat -142px -92px; }
.country-flags .et { background:url("/images/flags/flags_sprite.png") no-repeat -162px -92px; }
.country-flags .europeanunion { background:url("/images/flags/flags_sprite.png") no-repeat -182px -92px; }
.country-flags .fam { background:url("/images/flags/flags_sprite.png") no-repeat -2px -107px; }
.country-flags .fi { background:url("/images/flags/flags_sprite.png") no-repeat -22px -107px; }
.country-flags .fj { background:url("/images/flags/flags_sprite.png") no-repeat -42px -107px; }
.country-flags .fk { background:url("/images/flags/flags_sprite.png") no-repeat -62px -107px; }
.country-flags .fm { background:url("/images/flags/flags_sprite.png") no-repeat -82px -107px; }
.country-flags .fo { background:url("/images/flags/flags_sprite.png") no-repeat -102px -107px; }
.country-flags .fr { background:url("/images/flags/flags_sprite.png") no-repeat -122px -107px; }
.country-flags .fr_qc { background:url("/images/flags/flags_sprite.png") no-repeat -142px -362px; }
.country-flags .ga { background:url("/images/flags/flags_sprite.png") no-repeat -142px -107px; }
.country-flags .gb { background:url("/images/flags/flags_sprite.png") no-repeat -162px -107px; }
.country-flags .gd { background:url("/images/flags/flags_sprite.png") no-repeat -182px -107px; }
.country-flags .ge { background:url("/images/flags/flags_sprite.png") no-repeat -2px -122px; }
.country-flags .gf { background:url("/images/flags/flags_sprite.png") no-repeat -22px -122px; }
.country-flags .gh { background:url("/images/flags/flags_sprite.png") no-repeat -42px -122px; }
.country-flags .gi { background:url("/images/flags/flags_sprite.png") no-repeat -62px -122px; }
.country-flags .gl { background:url("/images/flags/flags_sprite.png") no-repeat -82px -122px; }
.country-flags .gm { background:url("/images/flags/flags_sprite.png") no-repeat -102px -122px; }
.country-flags .gn { background:url("/images/flags/flags_sprite.png") no-repeat -122px -122px; }
.country-flags .gp { background:url("/images/flags/flags_sprite.png") no-repeat -142px -122px; }
.country-flags .gq { background:url("/images/flags/flags_sprite.png") no-repeat -162px -122px; }
.country-flags .gr { background:url("/images/flags/flags_sprite.png") no-repeat -182px -122px; }
.country-flags .gs { background:url("/images/flags/flags_sprite.png") no-repeat -2px -137px; }
.country-flags .gt { background:url("/images/flags/flags_sprite.png") no-repeat -22px -137px; }
.country-flags .gu { background:url("/images/flags/flags_sprite.png") no-repeat -42px -137px; }
.country-flags .gw { background:url("/images/flags/flags_sprite.png") no-repeat -62px -137px; }
.country-flags .gy { background:url("/images/flags/flags_sprite.png") no-repeat -82px -137px; }
.country-flags .hk { background:url("/images/flags/flags_sprite.png") no-repeat -102px -137px; }
.country-flags .hm { background:url("/images/flags/flags_sprite.png") no-repeat -122px -137px; }
.country-flags .hn { background:url("/images/flags/flags_sprite.png") no-repeat -142px -137px; }
.country-flags .hr { background:url("/images/flags/flags_sprite.png") no-repeat -162px -137px; }
.country-flags .ht { background:url("/images/flags/flags_sprite.png") no-repeat -182px -137px; }
.country-flags .hu { background:url("/images/flags/flags_sprite.png") no-repeat -2px -152px; }
.country-flags .id { background:url("/images/flags/flags_sprite.png") no-repeat -22px -152px; }
.country-flags .ie { background:url("/images/flags/flags_sprite.png") no-repeat -42px -152px; }
.country-flags .il { background:url("/images/flags/flags_sprite.png") no-repeat -62px -152px; }
.country-flags .in { background:url("/images/flags/flags_sprite.png") no-repeat -82px -152px; }
.country-flags .io { background:url("/images/flags/flags_sprite.png") no-repeat -102px -152px; }
.country-flags .iq { background:url("/images/flags/flags_sprite.png") no-repeat -122px -152px; }
.country-flags .ir { background:url("/images/flags/flags_sprite.png") no-repeat -142px -152px; }
.country-flags .is { background:url("/images/flags/flags_sprite.png") no-repeat -162px -152px; }
.country-flags .it { background:url("/images/flags/flags_sprite.png") no-repeat -182px -152px; }
.country-flags .jm { background:url("/images/flags/flags_sprite.png") no-repeat -2px -167px; }
.country-flags .jo { background:url("/images/flags/flags_sprite.png") no-repeat -22px -167px; }
.country-flags .jp { background:url("/images/flags/flags_sprite.png") no-repeat -42px -167px; }
.country-flags .ke { background:url("/images/flags/flags_sprite.png") no-repeat -62px -167px; }
.country-flags .kg { background:url("/images/flags/flags_sprite.png") no-repeat -82px -167px; }
.country-flags .kh { background:url("/images/flags/flags_sprite.png") no-repeat -102px -167px; }
.country-flags .ki { background:url("/images/flags/flags_sprite.png") no-repeat -122px -167px; }
.country-flags .km { background:url("/images/flags/flags_sprite.png") no-repeat -142px -167px; }
.country-flags .kn { background:url("/images/flags/flags_sprite.png") no-repeat -162px -167px; }
.country-flags .kp { background:url("/images/flags/flags_sprite.png") no-repeat -182px -167px; }
.country-flags .kr { background:url("/images/flags/flags_sprite.png") no-repeat -2px -182px; }
.country-flags .kw { background:url("/images/flags/flags_sprite.png") no-repeat -22px -182px; }
.country-flags .ky { background:url("/images/flags/flags_sprite.png") no-repeat -42px -182px; }
.country-flags .kz { background:url("/images/flags/flags_sprite.png") no-repeat -62px -182px; }
.country-flags .la { background:url("/images/flags/flags_sprite.png") no-repeat -82px -182px; }
.country-flags .lb { background:url("/images/flags/flags_sprite.png") no-repeat -102px -182px; }
.country-flags .lc { background:url("/images/flags/flags_sprite.png") no-repeat -122px -182px; }
.country-flags .li { background:url("/images/flags/flags_sprite.png") no-repeat -142px -182px; }
.country-flags .lk { background:url("/images/flags/flags_sprite.png") no-repeat -162px -182px; }
.country-flags .lr { background:url("/images/flags/flags_sprite.png") no-repeat -182px -182px; }
.country-flags .ls { background:url("/images/flags/flags_sprite.png") no-repeat -2px -197px; }
.country-flags .lt { background:url("/images/flags/flags_sprite.png") no-repeat -22px -197px; }
.country-flags .lu { background:url("/images/flags/flags_sprite.png") no-repeat -42px -197px; }
.country-flags .lv { background:url("/images/flags/flags_sprite.png") no-repeat -62px -197px; }
.country-flags .ly { background:url("/images/flags/flags_sprite.png") no-repeat -82px -197px; }
.country-flags .ma { background:url("/images/flags/flags_sprite.png") no-repeat -102px -197px; }
.country-flags .mc { background:url("/images/flags/flags_sprite.png") no-repeat -122px -197px; }
.country-flags .md { background:url("/images/flags/flags_sprite.png") no-repeat -142px -197px; }
.country-flags .me { background:url("/images/flags/flags_sprite.png") no-repeat -162px -197px; }
.country-flags .mg { background:url("/images/flags/flags_sprite.png") no-repeat -182px -197px; }
.country-flags .mh { background:url("/images/flags/flags_sprite.png") no-repeat -2px -212px; }
.country-flags .mk { background:url("/images/flags/flags_sprite.png") no-repeat -22px -212px; }
.country-flags .ml { background:url("/images/flags/flags_sprite.png") no-repeat -42px -212px; }
.country-flags .mm { background:url("/images/flags/flags_sprite.png") no-repeat -62px -212px; }
.country-flags .mn { background:url("/images/flags/flags_sprite.png") no-repeat -82px -212px; }
.country-flags .mo { background:url("/images/flags/flags_sprite.png") no-repeat -102px -212px; }
.country-flags .mp { background:url("/images/flags/flags_sprite.png") no-repeat -122px -212px; }
.country-flags .mq { background:url("/images/flags/flags_sprite.png") no-repeat -142px -212px; }
.country-flags .mr { background:url("/images/flags/flags_sprite.png") no-repeat -162px -212px; }
.country-flags .ms { background:url("/images/flags/flags_sprite.png") no-repeat -182px -212px; }
.country-flags .mt { background:url("/images/flags/flags_sprite.png") no-repeat -2px -227px; }
.country-flags .mu { background:url("/images/flags/flags_sprite.png") no-repeat -22px -227px; }
.country-flags .mv { background:url("/images/flags/flags_sprite.png") no-repeat -42px -227px; }
.country-flags .mw { background:url("/images/flags/flags_sprite.png") no-repeat -62px -227px; }
.country-flags .mx { background:url("/images/flags/flags_sprite.png") no-repeat -82px -227px; }
.country-flags .my { background:url("/images/flags/flags_sprite.png") no-repeat -102px -227px; }
.country-flags .mz { background:url("/images/flags/flags_sprite.png") no-repeat -122px -227px; }
.country-flags .na { background:url("/images/flags/flags_sprite.png") no-repeat -142px -227px; }
.country-flags .nc { background:url("/images/flags/flags_sprite.png") no-repeat -162px -227px; }
.country-flags .ne { background:url("/images/flags/flags_sprite.png") no-repeat -182px -227px; }
.country-flags .nf { background:url("/images/flags/flags_sprite.png") no-repeat -2px -242px; }
.country-flags .ng { background:url("/images/flags/flags_sprite.png") no-repeat -22px -242px; }
.country-flags .ni { background:url("/images/flags/flags_sprite.png") no-repeat -42px -242px; }
.country-flags .nl { background:url("/images/flags/flags_sprite.png") no-repeat -62px -242px; }
.country-flags .no { background:url("/images/flags/flags_sprite.png") no-repeat -82px -242px; }
.country-flags .np { background:url("/images/flags/flags_sprite.png") no-repeat -102px -242px; }
.country-flags .nr { background:url("/images/flags/flags_sprite.png") no-repeat -122px -242px; }
.country-flags .nu { background:url("/images/flags/flags_sprite.png") no-repeat -142px -242px; }
.country-flags .nz { background:url("/images/flags/flags_sprite.png") no-repeat -162px -242px; }
.country-flags .om { background:url("/images/flags/flags_sprite.png") no-repeat -182px -242px; }
.country-flags .pa { background:url("/images/flags/flags_sprite.png") no-repeat -2px -257px; }
.country-flags .pe { background:url("/images/flags/flags_sprite.png") no-repeat -22px -257px; }
.country-flags .pf { background:url("/images/flags/flags_sprite.png") no-repeat -42px -257px; }
.country-flags .pg { background:url("/images/flags/flags_sprite.png") no-repeat -62px -257px; }
.country-flags .ph { background:url("/images/flags/flags_sprite.png") no-repeat -82px -257px; }
.country-flags .pk { background:url("/images/flags/flags_sprite.png") no-repeat -102px -257px; }
.country-flags .pl { background:url("/images/flags/flags_sprite.png") no-repeat -122px -257px; }
.country-flags .pm { background:url("/images/flags/flags_sprite.png") no-repeat -142px -257px; }
.country-flags .pn { background:url("/images/flags/flags_sprite.png") no-repeat -162px -257px; }
.country-flags .pr { background:url("/images/flags/flags_sprite.png") no-repeat -182px -257px; }
.country-flags .ps { background:url("/images/flags/flags_sprite.png") no-repeat -2px -272px; }
.country-flags .pt { background:url("/images/flags/flags_sprite.png") no-repeat -22px -272px; }
.country-flags .pw { background:url("/images/flags/flags_sprite.png") no-repeat -42px -272px; }
.country-flags .py { background:url("/images/flags/flags_sprite.png") no-repeat -62px -272px; }
.country-flags .qa { background:url("/images/flags/flags_sprite.png") no-repeat -82px -272px; }
.country-flags .re { background:url("/images/flags/flags_sprite.png") no-repeat -102px -272px; }
.country-flags .ro { background:url("/images/flags/flags_sprite.png") no-repeat -122px -272px; }
.country-flags .rs { background:url("/images/flags/flags_sprite.png") no-repeat -142px -272px; }
.country-flags .ru { background:url("/images/flags/flags_sprite.png") no-repeat -162px -272px; }
.country-flags .rw { background:url("/images/flags/flags_sprite.png") no-repeat -182px -272px; }
.country-flags .sa { background:url("/images/flags/flags_sprite.png") no-repeat -2px -287px; }
.country-flags .sb { background:url("/images/flags/flags_sprite.png") no-repeat -22px -287px; }
.country-flags .sc { background:url("/images/flags/flags_sprite.png") no-repeat -42px -287px; }
.country-flags .scotland { background:url("/images/flags/flags_sprite.png") no-repeat -62px -287px; }
.country-flags .sd { background:url("/images/flags/flags_sprite.png") no-repeat -82px -287px; }
.country-flags .se { background:url("/images/flags/flags_sprite.png") no-repeat -102px -287px; }
.country-flags .sg { background:url("/images/flags/flags_sprite.png") no-repeat -122px -287px; }
.country-flags .sh { background:url("/images/flags/flags_sprite.png") no-repeat -142px -287px; }
.country-flags .si { background:url("/images/flags/flags_sprite.png") no-repeat -162px -287px; }
.country-flags .sj { background:url("/images/flags/flags_sprite.png") no-repeat -182px -287px; }
.country-flags .sk { background:url("/images/flags/flags_sprite.png") no-repeat -2px -302px; }
.country-flags .sl { background:url("/images/flags/flags_sprite.png") no-repeat -22px -302px; }
.country-flags .sm { background:url("/images/flags/flags_sprite.png") no-repeat -42px -302px; }
.country-flags .sn { background:url("/images/flags/flags_sprite.png") no-repeat -62px -302px; }
.country-flags .so { background:url("/images/flags/flags_sprite.png") no-repeat -82px -302px; }
.country-flags .sr { background:url("/images/flags/flags_sprite.png") no-repeat -102px -302px; }
.country-flags .st { background:url("/images/flags/flags_sprite.png") no-repeat -122px -302px; }
.country-flags .sv { background:url("/images/flags/flags_sprite.png") no-repeat -142px -302px; }
.country-flags .sy { background:url("/images/flags/flags_sprite.png") no-repeat -162px -302px; }
.country-flags .sz { background:url("/images/flags/flags_sprite.png") no-repeat -182px -302px; }
.country-flags .tc { background:url("/images/flags/flags_sprite.png") no-repeat -2px -317px; }
.country-flags .td { background:url("/images/flags/flags_sprite.png") no-repeat -22px -317px; }
.country-flags .tf { background:url("/images/flags/flags_sprite.png") no-repeat -42px -317px; }
.country-flags .tg { background:url("/images/flags/flags_sprite.png") no-repeat -62px -317px; }
.country-flags .th { background:url("/images/flags/flags_sprite.png") no-repeat -82px -317px; }
.country-flags .tj { background:url("/images/flags/flags_sprite.png") no-repeat -102px -317px; }
.country-flags .tk { background:url("/images/flags/flags_sprite.png") no-repeat -122px -317px; }
.country-flags .tl { background:url("/images/flags/flags_sprite.png") no-repeat -142px -317px; }
.country-flags .tm { background:url("/images/flags/flags_sprite.png") no-repeat -162px -317px; }
.country-flags .tn { background:url("/images/flags/flags_sprite.png") no-repeat -182px -317px; }
.country-flags .to { background:url("/images/flags/flags_sprite.png") no-repeat -2px -332px; }
.country-flags .tr { background:url("/images/flags/flags_sprite.png") no-repeat -22px -332px; }
.country-flags .tt { background:url("/images/flags/flags_sprite.png") no-repeat -42px -332px; }
.country-flags .tv { background:url("/images/flags/flags_sprite.png") no-repeat -62px -332px; }
.country-flags .tw { background:url("/images/flags/flags_sprite.png") no-repeat -82px -332px; }
.country-flags .tz { background:url("/images/flags/flags_sprite.png") no-repeat -102px -332px; }
.country-flags .ua { background:url("/images/flags/flags_sprite.png") no-repeat -122px -332px; }
.country-flags .ug { background:url("/images/flags/flags_sprite.png") no-repeat -142px -332px; }
.country-flags .um { background:url("/images/flags/flags_sprite.png") no-repeat -162px -332px; }
.country-flags .us { background:url("/images/flags/flags_sprite.png") no-repeat -182px -332px; }
.country-flags .uy { background:url("/images/flags/flags_sprite.png") no-repeat -2px -347px; }
.country-flags .uz { background:url("/images/flags/flags_sprite.png") no-repeat -22px -347px; }
.country-flags .va { background:url("/images/flags/flags_sprite.png") no-repeat -42px -347px; }
.country-flags .vc { background:url("/images/flags/flags_sprite.png") no-repeat -62px -347px; }
.country-flags .ve { background:url("/images/flags/flags_sprite.png") no-repeat -82px -347px; }
.country-flags .vg { background:url("/images/flags/flags_sprite.png") no-repeat -102px -347px; }
.country-flags .vi { background:url("/images/flags/flags_sprite.png") no-repeat -122px -347px; }
.country-flags .vn { background:url("/images/flags/flags_sprite.png") no-repeat -142px -347px; }
.country-flags .vu { background:url("/images/flags/flags_sprite.png") no-repeat -162px -347px; }
.country-flags .wales { background:url("/images/flags/flags_sprite.png") no-repeat -182px -347px; }
.country-flags .wf { background:url("/images/flags/flags_sprite.png") no-repeat -2px -362px; }
.country-flags .ws { background:url("/images/flags/flags_sprite.png") no-repeat -22px -362px; }
.country-flags .ye { background:url("/images/flags/flags_sprite.png") no-repeat -42px -362px; }
.country-flags .yt { background:url("/images/flags/flags_sprite.png") no-repeat -62px -362px; }
.country-flags .za { background:url("/images/flags/flags_sprite.png") no-repeat -82px -362px; }
.country-flags .zm { background:url("/images/flags/flags_sprite.png") no-repeat -102px -362px; }
.country-flags .zw { background:url("/images/flags/flags_sprite.png") no-repeat -122px -362px; }
