<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  --> 
<configuration> 
	<configSections> 
		<section name="servers" type="System.Configuration.NameValueSectionHandler" />
		<section name="bltoolkit" type="BLToolkit.Configuration.BLToolkitSection, BLToolkit.4" />
		<section name="geoLocationCDN" type="System.Configuration.NameValueSectionHandler" />
		<section name="gameListChangedNotificationUrls" type="System.Configuration.NameValueSectionHandler" />
	</configSections>
  
<geoLocationCDN> 
    <add key="//cdn.everymatrix.com" value="8,10,11,13,14,15,16,17,19,20,22,23,24,25,26,29,30,31,32,33,35,36,37,38,39,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,61,65,66,67,69,70,71,72,73,75,76,78,82,83,84,85,86,89,92,93,94,95,96,97,98,99,100,101,102,103,106,107,108,109,111,113,114,115,116,117,118,164,202,119,120,121,123,124,125,127,126,130,131,132,133,134,135,136,138,139,140,141,142,143,144,147,148,149,150,151,152,153,154,156,157,158,159,160,161,162,163,165,167,169,170,171,172,173,174,175,176,177,179,180,181,184,205,185,186,206,187,188,190,191,192,247,248,193,194,195,198,199,200,201,204,207,208,209,210,213,214,215,216,217,218,219,220,221,222,224,225,226,227,229,231,232,233,234,235,237,238,240,239,241,242,243,245,246" />
  </geoLocationCDN>
	<servers>		 
		<add key="STAGE_WEB1" value="10.0.11.238" /> 
		<add key="STAGE_WEB2" value="10.0.11.239" /> 
	</servers> 

	<bltoolkit>
		<dataProviders>
		  <add type="BLToolkit.Data.DataProvider.MySqlDataProvider, BLToolkit.4" />
		</dataProviders>
	</bltoolkit>

	<gameListChangedNotificationUrls>
        <add key="GM1" value="http://10.0.11.238/_clear_ce_gamelist_cache.ashx?type=new" />
        <add key="GM2" value="http://10.0.11.239/_clear_ce_gamelist_cache.ashx?type=new" />
        <add key="GM3" value="http://61.221.24.86/_clear_ce_gamelist_cache.ashx?type=new" />
        <add key="GM4" value="http://61.221.24.88/_clear_ce_gamelist_cache.ashx?type=new" />
    </gameListChangedNotificationUrls>
  
	<appSettings> 
		<add key="Environment" value="stage" />
		<add key="Password_GlobalExpiryTime" value="2015-7-15 19:30:30" />
		<!--<add key="Redis.Server" value="10.0.11.45" />
		<add key="Redis.Port" value="6379" />-->

		<!--<add key="SessionAgent.ZooKeeperConnectionString" value="10.0.11.41:2181,10.0.11.43:2181,10.0.11.45:2181" />-->
		<add key="SessionAgent.ZooKeeperConnectionString" value="10.132.0.2:32181,10.132.0.3:32181,10.132.0.4:32181" />
		<add key="SessionAgent.ClusterName" value="STG" />
		<add key="SessionAgent.UseProtoBuf" value="1" />
		<!--<add key="SessionAgent.UseSentinel" value="True" />
        <add key="SessionAgent.RedisServer" value="10.0.11.45:6379" />-->
		<add key="SessionAgent.UseSentinel" value="False" />
        <add key="SessionAgent.RedisServer" value="146.148.126.181:30018" />
        <!--<add key="SessionAgent.SentinelAddress" value="10.0.11.41:30000;10.0.11.43:30000;10.0.11.45:30000" />
		<add key="SessionAgent.SentinelAddress" value="10.132.0.2:30018;10.132.0.3:30018;10.132.0.4:30018" />-->
        <add key="SessionAgent.SentinelMasterName" value="master-stage" />

        <add key="StaticFileServer" value="cdn.everymatrix.com" />
		<add key="FTP.Url" value="ftp://10.0.10.113/" />
		<add key="FTP.Username" value="wj" />
		<add key="FTP.Password" value="hest" />

		<add key="StaticFileHost.FileManagerUrl" value="http://10.0.11.46:59111" />
		<add key="StaticFileHost.UploadPath" value="/FileManager/Upload?path={0}&amp;filename={1}&amp;length={3}&amp;_={4}" />
		<add key="StaticFileHost.PrepareUploadPath" value="/FileManager/PrepareUpload?path={0}&amp;filename={1}&amp;length={2}&amp;_={3}" />
		<add key="StaticFileHost.PartialUploadPath" value="/FileManager/PartialUpload?path={0}&amp;filename={1}" />
		<add key="StaticFileHost.ListPath" value="/FileManager/List?path={0}&amp;_={1}" />
		<add key="StaticFileHost.CreateFolderPath" value="/FileManager/CreateFolder?path={0}&amp;_={1}" />
		<add key="StaticFileHost.DeletePath" value="/FileManager/Delete?path={0}&amp;_={1}" />

		<add key="RevisionBaseDirectory" value="" />
 
		<add key="ScreenshotSenderUrl" value="http://10.0.11.240:2345/SendReceipt.ashx" />

		<add key="GmCore.EnableRestClient" value="1" />
    <add key="GmCore.RestHOST" value="https://core-gm-stage.everymatrix.com" />
    <add key="GmCore.OperatorSecret" value="123abcEks" />
		<add key="GmCore.RestURL" value="https://core-gm-stage.everymatrix.com/Services/CoreAPI.ashx" />
		<add key="GmCore.SuperAdminLogin" value="SuperCMS" />
		<add key="GmCore.SuperAdminPwd" value="abir_Vak97_9" />	
		<add key="GmCore.SuperAdminSecToken" value="sys" />

		<!-- 
                {0} = Start time : yyyy-MM-dd HH:mm:ss format UTC time
                {1} = End time   : yyyy-MM-dd HH:mm:ss format UTC time
                {2} = PageIndex  : int
                {3} = PageSize   : int
                {4} = UserID     : long
                -->
        <add key="Reporting.GamblingHistoryURL" value="http://rep.gm.stage.everymatrix.com/GetPlayerGamingHistory.aspx?StartTime={0}&amp;EndTime={1}&amp;PageIndex={2}&amp;PageSize={3}&amp;UserID={4}&amp;Password=624D5356-67E9-11E0-8CA2-1DC44721119B6AECC2BC-67E9-11E0-B927-21C44724X19B" />

		<add key="CasinoEngine.Domain1" value="casino.gm.stage.everymatrix.com" />
	    <add key="CasinoEngine.Domain2" value="casino2.stage.everymatrix.com" />
	    <add key="CasinoEngine.LiveCasinoTableListUrlFormat" value="http://{0}/XmlFeeds/LiveCasinoTableList/{1}?includeMoreFields=True" />
	    <add key="CasinoEngine.GameInfoUrlFormat" value="http://{0}/XmlFeeds/GameInfo/{1}?gameid={2}&amp;language={3}" />
	    <add key="CasinoEngine.GameListUrlFormat" value="http://{0}/XmlFeeds/GameList/{1}?includeMoreFields=True" />
	    <add key="CasinoEngine.VendorListUrlFormat" value="http://{0}/XmlFeeds/VendorList/{1}" />
	    <add key="CasinoEngine.TopWinnersUrlFormat" value="http://{0}/XmlFeeds/TopWinners/{1}?channel={2}" />
	    <add key="CasinoEngine.RecentWinnersUrlFormat" value="http://{0}/XmlFeeds/RecentWinners/{1}?channel={2}" />
	    <add key="CasinoEngine.JackpotListUrlFormat" value="http://{0}/XmlFeeds/JackpotList/{1}" />
	    <add key="CasinoEngine.GetFrequentPlayerPoints" value="http://{0}/Api/GetFrequentPlayerPoints/{1}?apiPassword={2}&amp;_sid={3}" />
	    <add key="CasinoEngine.ClaimFrequentPlayerPoints" value="http://{0}/Api/ClaimFrequentPlayerPoints/{1}?apiPassword={2}&amp;_sid={3}" />
		<add key="CasinoEngine.ContentProviderUrlFormat" value="http://{0}/XmlFeeds/ContentProviderList/{1}" />
		<add key="CasinoEngine1.Domain" value="casino.gm.stage.everymatrix.com" />
		<add key="CasinoEngine2.Domain" value="casino2.stage.everymatrix.com" />
		<add key="CasinoEngine2.BaseUrl" value="http://casino2.stage.everymatrix.com" />
    	
		<add key="PaymentMethod.ChangeNotification.EmailAddress" value="payments-stage@everymatrix.com" />

		<add key="ExternalAuth.ReturnUrl" value="https://cms.gm.stage.everymatrix.com/oauth_return.ashx" />
		<add key="DDOSAttack.Redirection.Url" value="//maintenance.gammatrix.com/default.htm" />

		<add key="Init.PreloadRootTemplateSiteRouteInfo" value="true" />

		<add key="Logstash.Urls" value="ssl://casino-cloud-stg.everymatrix.com:31950"/>
		
		<add key="GeoIP.DownloadUrl" value="http://10.0.10.130:9876/GeoIPCity.dat" /> 
	</appSettings>
	<connectionStrings> 

	<add name="Default" connectionString="Data Source=10.0.11.28; Initial Catalog=cm;Max Pool Size=500;User ID=cmapp;Password=cmapp123;Connection Timeout=0" providerName="System.Data.SqlClient" />

	<!--<add name="Default" connectionString="Data Source=10.0.11.136; Initial Catalog=cm;Max Pool Size=500;User ID=cmapp;Password=cmapp123;Connection Timeout=0" providerName="System.Data.SqlClient" />
	<add name="Log" connectionString="Server=10.0.11.45;Port=13306;Database=gm_log;Uid=gmapp;Pwd=ORTUp4D28_G;Charset=utf8;AllowUserVariables=True;Allow Zero Datetime=false;PersistSecurityInfo=false;Pooling=true;ConnectionLifeTime=0;Max Pool Size=10;Min Pool Size=1;" providerName="MySql.Data.MySqlClient" />
	<add name="Log" connectionString="Server=146.148.126.181;Port=23306;Database=gm_log;Uid=gmapp;Pwd=ORTUp4D28_G;Charset=utf8;AllowUserVariables=True;Allow Zero Datetime=false;PersistSecurityInfo=false;Pooling=true;ConnectionLifeTime=0;Max Pool Size=10;Min Pool Size=1;" providerName="MySql.Data.MySqlClient" />-->

  </connectionStrings>
	<system.web>
		<httpRuntime requestValidationMode="2.0" enableVersionHeader="false" />
		<compilation debug="false" optimizeCompilations="false" batch="true" defaultLanguage="c#" numRecompilesBeforeAppRestart="999999" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
			<expressionBuilders>
				<add expressionPrefix="Metadata" type="CM.Content.MetadataExpressionBuilder" />
			</expressionBuilders>
		</compilation>
		<pages validateRequest="false" enableEventValidation="false" enableSessionState="true" pageParserFilterType="CM.Web.ViewTypeParserFilterEx, CM" pageBaseType="CM.Web.ViewPageEx, CM" userControlBaseType="CM.Web.ViewUserControlEx, CM">
			<namespaces>
				<add namespace="System.Web.Mvc" />
				<add namespace="System.Web.Mvc.Ajax" />
				<add namespace="System.Web.Mvc.Html" />
				<add namespace="System.Web.Routing" />
				<add namespace="CM.Sites" />
				<add namespace="CM.Web" />
				<add namespace="CM.Content" />
			</namespaces>
			<controls>
				<add tagPrefix="ui" namespace="CM.Web.UI" assembly="CM" />
				<add assembly="System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" namespace="System.Web.Mvc" tagPrefix="mvc" />
			</controls>
		</pages>
		<httpModules>
			<add name="MvcHttpModule" type="CM.Sites.MvcHttpModule" />
		</httpModules>
		<customErrors mode="Off">
		</customErrors>
		<sessionState mode="Off" />
		<profile enabled="true" inherits="GmCore.CustomProfileEx" />
		<anonymousIdentification enabled="true" />
		<caching>
		  <cache privateBytesLimit="15474836480" />
		</caching>
		<!--<machineKey validationKey="812C32842CC0E775C0D6080F522C50E366842EE2F8EB98417851DCBE6C8F8E4648A03ADD04E948EE84C5273E0CCFADA4607BF703638E842C4C5D4CDFDA69A462" decryptionKey="C4FEF63008C87D6EC86B16CB0D94275CE4EA9E6F3FF93ACE" validation="SHA1" decryption="AES" />-->
	</system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<modules runAllManagedModulesForAllRequests="true">
			<remove name="UrlRoutingModule" />
			<remove name="AnonymousIdentification" />
			<remove name="FormsAuthentication" />
			<remove name="PassportAuthentication" />
			<remove name="RoleManager" />
			<remove name="UrlAuthorization" />
			<remove name="FileAuthorization" />
			<remove name="ErrorHandlerModule" />
			<remove name="ServiceModel" />
			<remove name="Session" />
			<add name="MvcHttpModule" type="CM.Sites.MvcHttpModule" />
		</modules>
		<httpErrors errorMode="Custom" />
        <staticContent>
            <mimeMap fileExtension=".webapp" mimeType="application/octet-stream" />
        </staticContent>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>  
				<!-- Redirect MySQL Connector -->  
				<assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" />  
				<bindingRedirect oldVersion="5.0.0.0-7.6.5.0" newVersion="6.6.5.0" />  
			  </dependentAssembly> 
		</assemblyBinding>
	</runtime>
	<system.serviceModel>
			<bindings>
   <basicHttpBinding>
     <binding name="BasicHttpBinding_IAPIService" closeTimeout="01:01:00" openTimeout="01:01:00" receiveTimeout="01:01:00" sendTimeout="01:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
       <readerQuotas maxDepth="64" maxStringContentLength="2147483647" maxArrayLength="409600000" maxBytesPerRead="409600000" maxNameTableCharCount="409600000" />
       <security mode="None">
         <transport clientCredentialType="None" proxyCredentialType="None" realm="">
           <extendedProtectionPolicy policyEnforcement="Never" />
         </transport>
         <message clientCredentialType="UserName" algorithmSuite="Default" />
       </security>
     </binding>
   </basicHttpBinding>
  </bindings>

	</system.serviceModel>
	<system.net>
        <connectionManagement>
          <add address="*" maxconnection="50" />
        </connectionManagement>
    </system.net>
</configuration>
