<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="staticFileHost" type="CmsAgent.FileManager.StaticFileHostSection, CmsAgent" />
	</configSections>

	<staticFileHost>
		<add name="ROMANIA" protocol="ftp" server="10.0.10.113" port="21" username="gmapp_betbrain" password="eireucisajeihee" isPrimary="true" folder="/static/" />
		<add name="CDN" protocol="sftp" server="upload.betbrain.sf.cdngp.net" port="2022" username="gmapp_betbrain" password="mie0kie4leiv4oo"  />
		<!--188.211.168.3-->
		<add name="ExclusiveBet.fr" protocol="sftp" server="185.96.176.3" port="2022" username="gmapp_betbrain" password="eireucisajeihee" folder="/static/"  />

		<add name="CasinoCruise" distinctName="CasinoCruise" domainID = "1096" protocol="sftp" server="188.166.102.54" port="22" username="static" folder="/home/static/www/" privateKeyFileName="casinocruisepk" password="none" isPrimary="false" />


	</staticFileHost>

	<appSettings>
		<add key="Service.Name" value="CmsAgent"/>
		<add key="Service.DisplayName" value="Agent Service for CMS"/>
		<add key="Service.Description" value="Agent Service for CMS"/>

		<add key="Http.ListeningURL" value="http://0.0.0.0:59111"/>

	</appSettings>



	<connectionStrings>
		<!-- Comment out the following line if the MySQL Agent is not supposed to be started -->
		<add name="Log" connectionString="Server=10.0.10.13;Port=3306;Database=gm_log;Uid=gmapp;Pwd=ORTUp4D28_G;Charset=utf8;AllowUserVariables=True;Allow Zero Datetime=false;PersistSecurityInfo=false;Pooling=true;ConnectionLifeTime=0;Max Pool Size=10;Min Pool Size=1;" providerName="MySql.Data.MySqlClient"/>
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
	</startup>
</configuration>
