<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <section name="servers" type="System.Configuration.NameValueSectionHandler" />
    <section name="gameListChangedNotificationUrls" type="System.Configuration.NameValueSectionHandler" />
    <section name="bltoolkit" type="BLToolkit.Configuration.BLToolkitSection, BLToolkit.4" />
    <section name="metadataNotificationUrls" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <servers>
    <add key="GM1" value="casino.gm.dev.everymatrix.com" />
  </servers>
  <gameListChangedNotificationUrls>
    <add key="GM1" value="http://cms.gm.dev.everymatrix.com/_clear_ce_gamelist_cache.ashx?type=new" />
  </gameListChangedNotificationUrls>
  <bltoolkit>
    <dataProviders>
      <add type="BLToolkit.Data.DataProvider.MySqlDataProvider, BLToolkit.4" />
    </dataProviders>
  </bltoolkit>
  <metadataNotificationUrls>
    <add key="GM1" value="http://10.0.11.171:9647/clear_metadata_cache" />
    <add key="ADMIN1" value="http://10.0.11.171:9648/clear_metadata_cache" />
    <add key="CE1" value="http://10.0.11.171:20080/clear_metadata_cache" />
  </metadataNotificationUrls>
  <appSettings>
    <add key="Redis.Server" value="10.0.11.41" />
    <!-- 109.205.92.38 10.0.10.38 10.0.4.200 -->
    <add key="Redis.Port" value="6379" />
    <!-- 6379 , 16379, 22121 -->

    <add key="SessionAgent.ZooKeeperConnectionString" value="10.0.11.41:2181,10.0.11.43:2181,10.0.11.45:2181" />
    <add key="SessionAgent.ClusterName" value="DEV" />
    <add key="SessionAgent.UseProtoBuf" value="1" />
    <add key="SessionAgent.UseSentinel" value="True" />
    <add key="SessionAgent.RedisServer" value="10.0.11.41:6379" />
    <add key="SessionAgent.SentinelAddress" value="10.0.11.41:30000;10.0.11.43:30000;10.0.11.45:30000" />
    <add key="SessionAgent.SentinelMasterName" value="master-dev" />

    <!--<add key="SessionAgent.ZooKeeperConnectionString" value="109.205.92.135:12181,109.205.92.135:22181,109.205.92.135:32181" />
        <add key="SessionAgent.ClusterName" value="CS-DEV" />-->
    
    <add key="DisallowEditedDomains" value="6"/>


    <add key="StaticFileHost.FileManagerUrl" value="http://109.205.93.50:59111" />
    <add key="StaticFileHost.UploadPath" value="/FileManager/Upload?path={0}&amp;filename={1}&amp;length={3}&amp;_={4}" />
    <add key="StaticFileHost.PrepareUploadPath" value="/FileManager/PrepareUpload?path={0}&amp;filename={1}&amp;length={2}&amp;_={3}" />
    <add key="StaticFileHost.PartialUploadPath" value="/FileManager/PartialUpload?path={0}&amp;filename={1}" />
    <add key="StaticFileHost.ListPath" value="/FileManager/List?path={0}&amp;_={1}" />
    <add key="StaticFileHost.CreateFolderPath" value="/FileManager/CreateFolder?path={0}&amp;_={1}" />
    <add key="StaticFileHost.DeletePath" value="/FileManager/Delete?path={0}&amp;_={1}" />
    <add key="StaticFileHost.WebUrl" value="//static.gammatrix-dev.net"/>


    <add key="FTP.Url" value="ftp://109.205.93.50/" />
    <add key="FTP.Username" value="static" />
    <add key="FTP.Password" value="hest" />
    <!-- http://core.gammatrix.com/Services/CoreAPI.ashx -->
    <add key="GmCore.RestURL" value="http://core2.gm.dev.everymatrix.com/Services/CoreAPI.ashx" />
    <add key="GmCore.APIUserID" value="2971233"/>
    <add key="GmCore.APIUsername" value="_Api_CE_"/>
    <add key="GmCore.APIPassword" value="1JHdGmaff123"/>
    <add key="GmCore.APISecurityToken" value="sys"/>
    <add key="ResourceUrl" value="//static.gammatrix-dev.net/" />
    <add key="ApiUrl" value="http://127.0.0.1:3333/" />

    <add key="ProductionMode" value="off" />

    <add key="LaunchUrlProtocol" value="http" />

    <!-- https://{0}-livegame-test.casinomodule.com -->
    <add key="DefaultNetEntPlayLiveCasinoGameBaseUrl" value="https://oddsmatrix-livegame-test.casinomodule.com" />

    <!-- https://oddsmatrix-liveapi.casinomodule.com/lobbycomm/services/LobbyApi/tables/allOpen/oddsmatrix/{0}/SEAMLESS_WALLET -->
    <add key="DefaultNetEntLiveCasinoOpenTablesApiUrl" value="https://oddsmatrix-liveapi-test.casinomodule.com/lobbycomm/services/LobbyApi/tables/allOpen/oddsmatrix/{0}/SEAMLESS_WALLET" />

    <add key="DefaultNetEntLoadGameBaseUrl" value="https://oddsmatrix-static-test.casinomodule.com" />
    <add key="DefaultNetEntPlayGameBaseUrl" value="http://oddsmatrix-game-test.casinomodule.com" />
    <add key="DefaultNetEntHelpBaseUrl" value="https://oddsmatrix-game.casinomodule.com" />

    <!-- https://oddsmatrix-static.casinomodule.com/games/{0}/game/{0}.xhtml?gameId={1}&amp;lang={2}&amp;historyURL=/{2}/&amp;sessId={3}&amp;lobbyURL={4}&amp;operatorId=oddsmatrix&amp;server=https%3A%2F%2Foddsmatrix-game.casinomodule.com%2F&amp;depositAvailable=true&amp;disableAudio=false -->
    <add key="DefaultNetEntMobileGameUrl" value="https://oddsmatrix-static-test.casinomodule.com/games/{0}/game/{0}.xhtml?gameId={1}&amp;lang={2}&amp;historyURL=/{2}/&amp;sessId={3}&amp;lobbyURL={4}&amp;operatorId=oddsmatrix&amp;server=https%3A%2F%2Foddsmatrix-game-test.casinomodule.com%2F&amp;depositAvailable=true&amp;disableAudio=false" />

    <!-- https://etiloader3.valueactive.eu/ETILoader/default.aspx?token={1}&amp;casinoid=1166&amp;UL={0}&amp;VideoQuality=2&amp;ModuleID=70004&amp;ClientID=4&amp;ClientType=1&amp;UserType=0&amp;ProductID=2&amp;BetProfileID=0&amp;ActiveCurrency=Credits&amp;LoginName=&amp;Password=&amp;StartingTab={2}&amp;CustomLDParam=NULL -->
    <add key="DefaultMicrogamingLiveDealerLobbyUrl" value="http://webserver1.bluemesa.mgsops.net/global/ETILoader/Default.aspx?token={1}&amp;casinoid=5027&amp;UL={0}&amp;VideoQuality=2&amp;ModuleID=70004&amp;ClientID=2&amp;ClientType=1&amp;UserType=0&amp;ProductID=2&amp;BetProfileID=0&amp;ActiveCurrency=Credits&amp;LoginName=&amp;Password=&amp;StartingTab={2}" />
    <add key="DefaultMicrogamingPlayFunGameUrl" value="http://webserver1.bluemesa.mgsops.net/quickfire{0}/?sext1=demo&amp;sext2=demo&amp;gameid={1}&amp;csid=5002&amp;ul={0}&amp;bc=config-quickfire--{0}--MAL-Demo" />
    <add key="DefaultMicrogamingPlayRealGameUrl" value="http://webserver1.bluemesa.mgsops.net/quickfire{0}/?AuthToken={2}&amp;sext1=genauth&amp;sext2=genauth&amp;gameid={1}&amp;csid=5022&amp;ul={0}&amp;bc=config-quickfire--{0}--MAL" />
    <add key="DefaultMicrogamingMiniGameFunModeCasinoID" value="5002" />
    <add key="DefaultMicrogamingMiniGameRealModeCasinoID" value="5022" />
    <add key="DefaultMicrogamingMiniGameXManUrl" value="http://webserver1.bluemesa.mgsops.net/casino/XManHandler/x.x" />
    <add key="DefaultMicrogamingMiniGameNanoXProSwfUrl" value="http://webserver1.bluemesa.mgsops.net/flash/minigames/xprox.swf" />
    <add key="DefaultMicrogamingMiniGameNanoSysSwfUrl" value="http://webserver1.bluemesa.mgsops.net/flash/minigames/system/minisys.swf" />
    <add key="DefaultMicrogamingNanoGameNanoXProSwfUrl" value="http://webserver1.bluemesa.mgsops.net/flash/nanogames/xprox.swf" />
    <add key="DefaultMicrogamingNanoGameNanoSysSwfUrl" value="http://webserver1.bluemesa.mgsops.net/flash/nanogames/system/nanosys.swf" />
    <add key="DefaultMicrogamingMobilePlayFunGameUrl" value="http://41.223.121.12/MobileWebgames1_4/game/?moduleID={0}&amp;clientID={1}&amp;gameName={2}&amp;gametitle={3}&amp;LanguageCode={4}&amp;clientTypeID=40&amp;casinoID=5002&amp;lobbyName=vanguardTest&amp;loginType=VanguardSessionToken&amp;xmanEndPoints=http%3a%2f%2f41.223.121.12%2fXManHandler%2fx.x&amp;routerEndPoints=&amp;isRGI=true&amp;isPracticePlay=true&amp;disableRealPlayBanner=true&amp;lobbyurl={5}" />
    <add key="DefaultMicrogamingMobilePlayRealGameUrl" value="http://41.223.121.12/MobileWebgames1_4/game/?moduleID={0}&amp;clientID={1}&amp;gameName={2}&amp;gametitle={3}&amp;LanguageCode={4}&amp;clientTypeID=40&amp;casinoID=5031&amp;lobbyName=vanguardTest&amp;loginType=VanguardSessionToken&amp;xmanEndPoints=http%3a%2f%2f41.223.121.12%2fXManHandler%2fx.x&amp;routerEndPoints=&amp;isRGI=true&amp;isPracticePlay=false&amp;disableRealPlayBanner=true&amp;lobbyurl={6}&amp;authToken={5}" />
    <add key="DefaultCTXMPlayGameBaseUrl" value="http://alba2.ctxm.com/whl_lobby/game.do?merch_id=DOMAINNAME" />
    <add key="DefaultIGTPlayMobileGameBaseUrl" value="https://ipl-dmzcust03.lab.wagerworks.com/games/index.html" />
    <add key="DefaultIGTPlayGameBaseUrl" value="https://rgs-cust03.lab.wagerworks.com" />
    <add key="DefaultIGTNsCode" value="EVMX" />
    <add key="DefaultIGTSkinCode" value="EM01" />

    <!-- LIVE https://cw.playngonetwork.com/casino/js -->
    <add key="DefaultPlaynGOPlayGameBaseUrl" value="http://corestage.playngo.com:47010/Casino/js" />
    <add key="DefaultPlaynGOPID" value="1" />
    <!-- LIVE https://m.playngonetwork.com/Casino/PlayMobile? -->
    <add key="DefaultPlaynGOPlayMobileGameBaseUrl" value="http://m.playngo.com/Casino/PlayMobile?" />


    <add key="DefaultBetSoftPlayFunGameUrl" value="http://lobby.everymatrix.discreetgaming.com/cwguestlogin.do?bankId={0}&amp;gameId={1}&amp;lang={2}" />
    <add key="DefaultBetSoftPlayRealGameUrl" value="http://lobby.everymatrix.discreetgaming.com/cwstartgamev2.do?bankId={0}&amp;gameId={1}&amp;lang={2}&amp;mode=real&amp;token={3}" />
    <add key="DefaultBetSoftGameListUrl" value="http://lobby.everymatrix.discreetgaming.com/gamelist.do?bankId={0}" />
    <add key="SystemBetSoftGameListUrl" value="http://lobby.everymatrix.discreetgaming.com/gamelist.do?bankId=218" />
    <add key="SystemJackpotListUrl" value="http://lobby.everymatrix.discreetgaming.com/jackpots/jackpots_218.xml" />

    <add key="DefaultSheriffPlayGameBaseUrl" value="http://games.sheriffgaming.com/loader/?site_id=4&amp;locale={0}&amp;game_id={1}&amp;mode={2}&amp;player_reference={3}&amp;currency={4}&amp;session_id={5}" />
    <add key="DefaultSheriffJackpotJsonUrl" value="http://jetbull.nl1.gamingclient.com/jackpot/retrieve/{0}" />

    <!-- http://stage.vegasinstallation.com/games/slots/launch/browser/{0}/browser-launcher.html?wagerId=0&sessionId&operatorId=200&domain=http%3a%2f%2fstage.vegasinstallation.com%2fserver&gameId={1}&lang={2}&sessionId={3}&returnURL= -->
    <add key="DefaultOMIPlayGameUrl" value="http://stage.vegasinstallation.com/games/slots/launch/browser/{0}/browser-launcher.html?wagerId=0&amp;operatorId=200&amp;domain=http://stage.vegasinstallation.com/server&amp;gameId={1}&amp;lang={2}&amp;sessionId={3}&amp;returnURL=" />

    <!-- http://stage.vegasinstallation.com/games/slots/launch/{0}/{0}.html?wagerId=0&operatorId=200&domain=http%3a%2f%2fstage.vegasinstallation.com%2fserver&detectDev=IPHONE_OR_IPAD&devOrientation=landscape/&gameId={1}&lang={2}&sessionId={3}&returnURL={4} -->
    <add key="DefaultOMIMobileGameUrl" value="http://stage.vegasinstallation.com/games/slots/launch/{0}/{0}.html?wagerId=0&amp;operatorId=200&amp;domain=http://stage.vegasinstallation.com/server&amp;detectDev=IPHONE_OR_IPAD&amp;devOrientation=landscape/&amp;gameId={1}&amp;lang={2}&amp;sessionId={3}&amp;returnURL={4}" />
    <add key="DefaultOMIOperatorID" value="200" />
    <add key="DefaultOMIJackpotJsonUrl" value="https://vegasinstallation.com/gserver/api/game/slot" />

    <!-- https://nogs-gl.nyxinteractive.eu/game/?nogsgameid={0}&amp;nogslang={1}&amp;nogscurrency={2}&amp;nogsmode=demo&amp;nogsoperatorid=1 -->
    <add key="DefaultNYXGamingPlayFunGameUrl" value="http://nogs-gl-stage.nyxinteractive.eu/game/?nogsgameid={0}&amp;nogslang={1}&amp;nogscurrency={2}&amp;nogsmode=demo&amp;nogsoperatorid=1" />

    <!-- https://nogs-gl.nyxinteractive.eu/game/?nogsgameid={0}&amp;nogslang={1}&amp;nogscurrency={2}&amp;accountid={3}&amp;&amp;sessionid={4}&amp;nogsmode=real&amp;nogsoperatorid=1 -->
    <add key="DefaultNYXGamingPlayRealGameUrl" value="http://nogs-gl-stage.nyxinteractive.eu/game/?nogsgameid={0}&amp;nogslang={1}&amp;nogscurrency={2}&amp;accountid={3}&amp;&amp;sessionid={4}&amp;nogsmode=real&amp;nogsoperatorid=1" />

    <add key="GameMonitorUrl" value="http://reports.gammatrix-dev.net/CasinoGameMonitor.aspx?session_id={0}&amp;d_id={1}&amp;all_d={2}" />
    <!--
    <add key="GameMonitorUrl" value="http://reports.gammatrix-dev.net/CasinoGameMonitor.aspx?session_id={0}&amp;d_id={1}&amp;all_d={2}"/>
    -->
    <add key="ClientValidationEnabled" value="false" />
    <add key="UnobtrusiveJavaScriptEnabled" value="false" />
    <add key="Netent.Jackpot.Alert.Threshold.Amount" value="0" />
    <add key="Netent.Jackpot.Alert.Game.IDs" value="megajackpot_sw,hallofgods_sw,arabian_sw" />
    <add key="Netent.Jackpot.Alert.Emails" value="hb@everymatrix.com" />
    <add key="Netent.Launch.Inclusion.Enabled" value="false" />

    <add key="Monitor.Alerting.Emails" value="hb@everymatrix.com,297101821@qq.com" />

    <add key="Metadata.DefaultUrl" value="http://109.205.92.30:9646" />
    <!--<add key="Metadata.DefaultUrl" value="http://localhost:9646" />-->
    <add key="Metadata.GetMetadataURL" value="{0}/HttpHandlers/GetMetadata.ashx?tid={1}&amp;type=json&amp;path={2}" />
    <add key="Metadata.DumpTransactionURL" value="{0}/HttpHandlers/DumpTranslation.ashx?tid={1}&amp;lang={2}" />
    <add key="Metadata.CreateTranslation" value="{0}/HttpHandlers/CreateForContent.ashx?content={1}" />
    <add key="Metadata.UploadStatisticURL" value="{0}/HttpHandlers/ReportTranslationUsage.ashx?tid={1}" />
    <add key="Metadata.GetTranslationURL" value="{0}/HttpHandlers/GetTranslation.ashx?tid={1}&amp;path={2}" />
    <add key="Metadata.UpdateTranslationURL" value="{0}/HttpHandlers/UpdateTranslation.ashx?tid={1}&amp;path={2}" />
    <add key="Metadata.DeleteTranslationURL" value="{0}/HttpHandlers/DeleteTranslation.ashx?tid={1}&amp;path={2}" />

    <add key="VendorApi.RestURL" value="http://10.0.11.15:8888" />
    <add key="GmGaming.RestURL" value="http://gaming.dev.everymatrix.com" />
    <add key="GmLogging.ApiHost" value="http://10.0.11.26" />
    <add key="GmLogging.ApiUrl" value="/api/loggingapi" />
    <add key="GmLogging.AppName" value="CasinoEngine" />
    <add key="GmLogging.ServerName" value="CE Local" />
    <add key="GmLogging.LogLevel" value="1" />

        <add key="Recommendation.UserRecommendedURL" value="http://109.205.93.227:8002/rec/?userID={0}&amp;Age={1}&amp;Gender={2}&amp;GameType={3}&amp;TopN=500" />
        <add key="Recommendation.GameRecommendedURL" value="http://109.205.93.227:8002/sim/?GameVendor={0}&amp;GameCode={1}&amp;GameType={2}&amp;TopN=500"/>

      <add key="Reporting.AgentUrl" value="http://internal-reporting-api-stage.everymatrix.com/" />
      <add key="Reporting.AgentEnabled" value="true" />
      <add key="Reporting.Env" value="Default" />

      <add key="Logstash.Urls" value="ssl://casino-cloud-dev.everymatrix.com:31850" />
  </appSettings>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true" />
    </settings>
  </system.net>
  <system.web>
    <compilation debug="true" targetFramework="4.5" optimizeCompilations="false">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <pages>
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <httpRuntime maxRequestLength="102400" />

    <customErrors mode="Off" />
  </system.web>
  <connectionStrings>
    <add name="Default" connectionString="Data Source=109.205.92.1,14332;Initial Catalog=GmCore;User ID=cmsapp;Password=abc123;Min Pool Size=1;Max Pool Size=500" providerName="System.Data.SqlClient" />

    <add name="Dw" connectionString="Data Source=10.0.11.86;Initial Catalog=dw;User ID=cmsapp;Password=abc123;Min Pool Size=1;Max Pool Size=100" providerName="System.Data.SqlClient" />
    <!--<add name="Default" connectionString="Data Source=109.205.92.135,14331;Initial Catalog=GmCore;User ID=cmsapp;Password=abc123;Min Pool Size=1;Max Pool Size=500" providerName="System.Data.SqlClient" />
      <add name="Dw" connectionString="Data Source=109.205.92.135,14331;Initial Catalog=dw;User ID=cmsapp;Password=abc123;Min Pool Size=1;Max Pool Size=100" providerName="System.Data.SqlClient" />
      -->
  </connectionStrings>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="false" />
    <staticContent>
      <mimeMap fileExtension="." mimeType="text/plain" />
    </staticContent>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IAPIService" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="6553600" maxBufferPoolSize="5242880" maxReceivedMessageSize="6553600" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="819200" maxArrayLength="1638400" maxBytesPerRead="4096000" maxNameTableCharCount="1638400" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://core2.gm.dev.everymatrix.com/VendorProxy.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAPIService" contract="GamMatrixAPI.IAPIService" name="BasicHttpBinding_IAPIService" />
    </client>
  </system.serviceModel>
</configuration>