<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="Email.SMTP" value="10.0.10.7" />
    <add key="Email.Port" value="25" />
    
    <add key="CE.Jackpot.Url" value="http://casino.gammatrix.com/XmlFeeds/JackpotList/Jetbull_com" />
    <add key="CE.Jackpot.Alert.Amount" value="2500000" />
    <add key="CE.Jackpot.Alert.Game.IDs" value="8270|MegFortune PC,7227|Hall of Gods,7051|Arabian Nights" />
    <add key="CE.Jackpot.Alert.Emails" value="el@everymatrix.com, hb@everymatrix.com" />    
  </appSettings>
</configuration>